body {
  display: flex;
  background-color: rgb(233, 233, 233);
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  background-color: rgb(104, 104, 104);
  height: 90vh;
  width: 90vw;
  border-radius: 1%;
  margin-top: 3vh;
}

.image {
  background-color: aquamarine;
  flex-basis: 30%;
}

.login {
  background-color: aliceblue;
  flex-basis: 70%;
}