@font-face {
  font-family: quicksand;
  src: url(Quicksand/Quicksand-VariableFont_wght.ttf)
}

body {
  font-family: quicksand, sans-serif;
  font-size: 0.8rem;
  display: flex;
  background-color: rgb(47, 47, 47);
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

.main-container {
  display: flex;
  background-color: rgb(104, 104, 104);
  height: 97vh;
  width: 90vw;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgb(13, 13, 13);
}

.image {
  background-image: url(nicepic.jpg);
  background-size: cover;
  background-color: rgb(141, 141, 141);
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  background-color: rgba(0, 162, 255, 0.767);
  height: 20%;
  opacity: 0.5;
  font-size: 5em;
  display: flex;
  color: rgb(201, 201, 201);
  justify-content: center;
  align-items: center;
}

.register {
  background-color: rgb(90, 90, 90);
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.row1,
.row2,
.row3 {
  display: flex;
  justify-content: start;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

form > div > div {
  display: flex;
  flex-direction: column;
}

form > div > div + div {
  padding-left: 3vw;
}

.register > * {
  padding: 2vh min(5vh, 5vw);
}

.formsection {
  background-color: rgba(255, 255, 255, 0.801);
  box-shadow: 0px 5px 5px rgb(201, 201, 201);
}

span {
  font-style: italic;
  color:rgba(0, 162, 255, 0.767);
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

a {
  color: rgb(0, 170, 255);
}

a:hover {
  color: rgba(0, 221, 255, 0.582);
}

button {
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 0px;
  background-color:rgba(0, 162, 255, 0.512);
  color: white;
  font-size: 0.8rem;
  padding: 5px 25px;
  margin: 10px auto;
  font-family: quicksand, sans-serif;
  letter-spacing: 1px;
}

button:hover {
  background-color: rgba(93, 190, 243, 0.923);
}

.error {
  border-color: rgb(255, 13, 13);
  color: rgb(255, 13, 13);
  border-radius: 2px;
}

.correct {
  border-color: rgb(42, 145, 24);
  color: rgb(42, 145, 24);
  border-radius: 2px;
}

input:focus {
  background-color: rgb(230, 235, 238);
}

input:hover {
  border-color: rgba(0, 162, 255, 0.512);
  border-width: 2px;
  border-radius: 2px;
}

.firstblock,
.thirdblock {
  color: rgb(201, 201, 201);
}

form > div + div + div + div {
  min-height: 16px;
}

.github {
  position: absolute;
  bottom: 0;
  right: 15px;
  color: white;
}

.github > img {
  height: 16px;
  width: auto;
  padding-left: 0.5vw;
  position: absolute;
  top: 11px;
  
}