body {
  display: flex;
  background-color: rgb(233, 233, 233);
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  padding-top: 4vh;
}

.main-container {
  display: flex;
  background-color: rgb(104, 104, 104);
  height: 90vh;
  width: 90vw;
  border-radius: 1%;
}

.image {
  background-color: aquamarine;
  flex-basis: 40%;
}

.register {
  background-color: aliceblue;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: min(5vh, 5vw);
}

.row1,
.row2,
.row3 {
  display: flex;
}

form > div > div {
  display: flex;
  flex-direction: column;
}